h1 {
    text-align: center;
}
.card {
    height:           300px;
    background-color: lightgrey;
    margin:           15px;
    width:            300px;
}
.flex {
    display: flex;
}
.container {
    flex-wrap: wrap;
}
.button {
    width:  100px;
    height: 20px;
    border: 1px solid black;
}
.nav {
    justify-content: space-around;
}
a {
    text-decoration: none;
    color:           black;
    padding:         10px;
    box-shadow:      2px 2px 2px gray;
    border-radius:   4px;
    text-align:      center;
}